#chart {
  margin-top: 4%;
}

body {
  padding-top: 2%;
  font-family: "Monsterrat", sans-serif;
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;
}

#title {
  background-color: white;
  color: 	#008B8B;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: : 1.5;
}
